<p id="notice"><%= notice %></p>

<p>
  <strong>Feeling:</strong>
  <%= @water.feeling %>
</p>

<p>
  <strong>Intensity:</strong>
  <%= @water.intensity %>
</p>
<% if @water.images.attached? %>
<p>
  <strong>Images:</strong>
  <br>
  <% @water.images.each do |image| %>
    <%= image_tag(image) %>
  <% end %>
</p>
<% end %>

<%= link_to 'Edit', edit_water_path(@water) %> |
<%= link_to 'Back', waters_path %>
